---
import Layout from '../../layouts/Layout.astro';
import SectionWrapper from '../../components/layout/SectionWrapper.astro';
---
<Layout>
	

    <main class="layout-page bg-black px-6 py-12 text-white md:px-12">

        <SectionWrapper spacing="tight" container="default" debug>
            Tight / Default
        </SectionWrapper>

        <SectionWrapper spacing="default" container="default" debug>
            Default / Default
        </SectionWrapper>

        <SectionWrapper spacing="loose" container="wide" debug>
            Loose / Wide
        </SectionWrapper>

        <SectionWrapper spacing="hero" container="wide" debug>
            Hero / Wide
        </SectionWrapper>

        <SectionWrapper spacing="flush" container="none" debug>
            Flush / No Container
        </SectionWrapper>

        <SectionWrapper spacing="default" container="narrow" debug>
            Default / Narrow
        </SectionWrapper>

    </main>

</Layout>