---
import Layout from '../../layouts/Layout.astro';
import SectionWrapper from '../../components/layout/SectionWrapper.astro';
import SectionHeader from '../../components/layout/SectionHeader.astro';
import GridContainer from '../../components/layout/GridContainer.astro';
import UtilityHeaderStrip from '../../components/header/UtilityHeaderStrip.astro';
import HeaderDivider from '../../components/header/HeaderDivider.astro';
import SiteHeader from '../../components/header/SiteHeader.astro';
import HeroSection from '../../components/home/HeroSection.astro';
import SportNavigationSection from '../../components/home/SportNavigationSection.astro';
---
<Layout>
    <main class="layout-page bg-black px-6 py-0 text-white md:px-12">
        <UtilityHeaderStrip />
        <HeaderDivider width="full" />
        <SiteHeader />
		<HeaderDivider />
        <HeroSection />
		<SportNavigationSection />
    </main>
</Layout>