---
const {
	src = '',
	alt = 'Featured sports card display',
	class: extraClass = '',
	imageClass = '',
} = Astro.props;
---

<div class={`relative mx-auto w-full overflow-visible ${extraClass}`}>
	<div class="absolute inset-0 bg-[radial-gradient(circle_at_center,rgba(245,158,11,0.18),transparent_60%)]"></div>

	{src && (
		<img
			src={src}
			alt={alt}
			class={`relative z-10 h-auto w-full object-contain ${imageClass}`}
		/>
	)}
</div>