---
import Layout from '../layouts/Layout.astro';
---
<Layout 
title="About InnoAV Sports Collectibles"
description="Learn about InnoAV Sports Collectibles, our mission, collecting philosophy, and commitment to the hobby."
noindex={false}
>       
    <p>
        Page Content Goes Here
    </p>
</Layout>