---
import Layout from '../layouts/Layout.astro';
---
<Layout 
title="My Account"
description="Manage your account, orders, and preferences."
noindex={true}
>
    <p>
        Page Content Goes Here
    </p>
</Layout>