---
import Layout from '../layouts/Layout.astro';
---
<Layout
title="Blog"
description="Sports card news, collecting tips, hobby insights, market trends, and featured stories."
noindex={false}
>
    <p>
        Page Content Goes Here
    </p>
</Layout>