---
import Layout from '../layouts/Layout.astro';
---
<Layout
title="Shopping Cart"
description="Review items currently in your shopping cart."
noindex={true}
>
    <p>
        Page Content Goes Here
    </p>
</Layout>