---
import Layout from '../layouts/Layout.astro';
---
<Layout
title="Consign Your Collection"
description="Sell sports cards and collectibles through InnoAV Sports Collectibles with professional listing and consignment services."
noindex={false}
>
    <p>
        Page Content Goes Here
    </p>
</Layout>