---
import Layout from '../layouts/Layout.astro';
import UtilityHeaderStrip from '../components/header/UtilityHeaderStrip.astro';
import HeaderDivider from '../components/header/HeaderDivider.astro';
import SiteHeader from '../components/header/SiteHeader.astro';
import PlayerNavigationSection from '../components/players/PlayerNavigationSection.astro';
import TrustAccessGrid from '../components/home/trust/TrustAccessGrid.astro';
---
<Layout>
    <main class="layout-page bg-black px-6 py-0 text-white md:px-12">
        <UtilityHeaderStrip />
        <HeaderDivider width="full" />
        <SiteHeader />
		<HeaderDivider />
        <p>
            Page Content Goes Here
        </p>
        <PlayerNavigationSection />
        <TrustAccessGrid />
    </main>
</Layout>