---
import logoImage from '../../assets/brands/InnoWeb-Logo.png';


const {
	href = '/',
	kicker = 'Sports Cards & Collectibles',
	debug = false,
	class: extraClass = '',
} = Astro.props;

const classes = [
	'flex items-center gap-3',
	extraClass,
].filter(Boolean).join(' ');
---

<a href={href} class={classes} aria-label="InnoWeb home">
	<img
	src={logoImage.src}
	alt="InnoWeb logo"
	class="h-14 w-auto scale-110 object-contain md:h-20"
	/>

</a>